.map {
    height: 500px;
}

iframe {
    top: 50%;
    position: relative;
    width: 90%;
    height: 100%;
    left: 50%;
    /* 左から50%の位置に設定 */
    transform: translate(-50%, -50%);
    /* 中央に配置するための調整 */
}
